<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeLeaf.org">
<head>
    <meta charset="utf-8">
    <title>Todo</title>

    <!-- Importar CSS de Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-VL/n2Qeh9KHVb/GD/hYnsy/K1FBDxjtpwvPCezlAazNK24VfL2Q9Xn/85grUDCnYVql+pYoyN1B+GnZg/6fMg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Importar tu propio CSS -->
    <link href="css/main.css" rel="stylesheet" type="text/css">


</head>

<body>


<div th:each="elemento : ${pagina.content}">
    <p th:text="${elemento.nombre}"></p>
    <p th:text="${elemento.descripcion}"></p>
</div>
<div th:if="${pagina.totalPages > 1}">
    <ul class="pagination">
        <li class="page-item" th:classappend="${currentPage == 0} ? disabled">
            <a class="page-link" th:href="@{/lista(page=0)}">Primera</a>
        </li>
        <li class="page-item" th:classappend="${currentPage == 0} ? disabled">
            <a class="page-link" th:href="@{/lista(page=${currentPage - 1})}">Anterior</a>
        </li>
        <li class="page-item" th:each="i : ${#numbers.sequence(0, pagina.totalPages - 1)}">
            <a class="page-link" th:href="@{/lista(page=${i})}" th:text="${i + 1}"
               th:classappend="${currentPage == i} ? active"></a>
        </li>
        <li class="page-item" th:classappend="${currentPage == pagina.totalPages - 1} ? disabled">
            <a class="page-link" th:href="@{/lista(page=${currentPage + 1})}">Siguiente</a>
        </li>
        <li class="page-item" th:classappend="${currentPage == pagina.totalPages - 1} ? disabled">
            <a class="page-link" th:href="@{/lista(page=${pagina.totalPages - 1})}">Última</a>
        </li>
    </ul>
</div>

<!-- Importar JavaScript de Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-OCX2YH/C0D4v0g4cdW5KKaA5w12dOOnzro8utUpbNgYX9RtOTrxKx2A05lFsczyDkbwE7l/zeiWRNZsmSeZtsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>
