<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeLeaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Todo App</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="tutorial">
        <ul>
            <li>Home</li>
            <li>Log in</li>
            <li>Sign up</li>
        </ul>

    </div>
</div>


<main id="todolist">
    <h1>
        Todo List
        <span>Get things done, one item at a time.</span>
    </h1>

    <table id="myTable">
        <thead>
        <tr>
            <th>Title</th>
            <th>Username</th>
            <th>Country</th>
            <th>Done</th>
        </tr>
        </thead>
        <tbody v-else>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.text}"></td>
            <td th:text="${todo.user}"></td>
            <td th:text="${todo.country}"></td>
            <td th:text="${todo.completed}"></td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <nav aria-label="Pagination">
                <ul class="pagination jsutify-content-center">
                    <li class="page-item" th:each="page : ${pages}">
                        <a class="page-link" th:href="@{|/?page=${pages}|" th:text="${pages}"></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div th:if="${todos.isEmpty()}">
        <p>The Todos List is emtpy!</p>
    </div>

</main>
<script type="text/javascript" th:src="@{/js/index.js}"></script>

</body>
</html>