<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeLeaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Todo App</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="tutorial">
        <ul>
            <li>Home</li>
            <li>Log in</li>
            <li>Sign up</li>
        </ul>

    </div>
</div>


<main id="todolist">
    <h1>
        Todo List
        <span>Get things done, one item at a time.</span>
    </h1>

    <table id="myTable">
        <thead>
        <tr>
            <th>Title</th>
            <th>Username</th>
            <th>Country</th>
            <th>Done</th>
        </tr>
        </thead>
        <tbody v-else>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.text}"></td>
            <td th:text="${todo.user}"></td>
            <td th:text="${todo.country}"></td>
            <td th:text="${todo.completed}"></td>
        </tr>
        </tbody>
    </table>


</main>
<script type="text/javascript" th:src="@{/js/index.js}"></script>

</body>
</html>